<module>
	<rawname>bulkdids</rawname>
	<name>Bulk DIDs</name>
	<description>Bulk DIDs uses CSV files to import bulk DIDs with a destination.</description>
	<version>2.5.0.1</version>
	<type>tool</type>
	<category>Third Party Addon</category>
	<menuitems>
		<bulkdids>Bulk DIDs</bulkdids>
	</menuitems>
	<depends>
		<version>ge2.5</version>
	</depends>
	<location></location>
	<info></info>
	<changelog>
		*2.5.0.1* Fixed conflict with bulkextensions module
		*2.5.0.0* Initial Release
	</changelog>
	<md5sum></md5sum>
</module>

